<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    

    <address>
        Pindi venkata Dorababu<br />
        Agraharam Street, Kasimkota<br />
        Anakapalle District, Andhra Pradesh - 531031<br />
    </address>

    <address>
        <strong>Contact Number:</strong> +91 9848365784<br />
        <strong>Email:</strong> <a href="mailto:dorababupindi@gmail.com">dorababupindi@gmail.com</a>
    </address>
</main>